* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #000;
}

:root {
  --color-primary: #6c63ff;
  --color-success: #00bf8e;
  --color-warning: #f7c94b;
  --color-danger: #f75842;
  --color-danger-varient: rgba(247, 88, 66, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.7);
  --color-black: #000;
  --color-bg: #1f2641;
  --color-bg1: #2e3267;
  --color-bg2: #424890;

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all 400ms ease;
}

body {
  line-height: 1.7;
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 0.6rem 5%;
  width: 100%;
  margin: 0 auto;
}

nav {
  width: 100vw;
  position: fixed;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav-menu a:hover {
  color: #2e3267;
  text-decoration: underline;
}
.header-left {
  margin-top: 20%;
  font-size: 0.9rem;
  width: 50%;
}
.header-right-image img {
  width: 20rem;
  margin-top: 3rem;
  border-radius: 3rem;
}
.header-container {
  font-family: "Poppins", sans-serif;
  display: flex;
  gap: 4rem;
}
.header-container h1 {
  font-size: 2rem;
}
.header-container h1 span {
  color: red;
  text-transform: uppercase;
}
